/* shared styles */
body {
    font-family: 'Merriweather', serif;
    max-width: 1320px;
    margin: auto;
}

/* banner styles */
header {
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner.png);
    flex-shrink: 0;
    /* margin: auto; */
}

.banner-intro {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 199px;
}

/* categories section style */
.categories {
    max-width: 802.9px;
    margin: auto;
    margin-bottom: 0px;
}

.percent {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

/* midnight section style */
.welcome-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.midnight-description {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.midnight-btn {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 50px;
}

.midnight {
    max-width: 1320px;
    height: 600px;
    margin: auto;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    margin-top: 120px;
}

.midnight-container {
    display: flex;
    justify-content: space-between;
}

.midnight-txtdiv {
    column-gap: none;
}

.midnight-imgdiv {
    padding: 68.11px 138px 67.23px;
}

.welcome {
    margin-top: 126px;
    margin-left: 126px;
    /* margin-bottom: 298px; */
}

.decrip-btn {
    margin-left: 126px;
}

/* Location and Time section styles */
.location-time {
    max-width: 1320px;
    margin: auto;
    height: 482px;
    /* color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.place,
.date,
.time {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.tag {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.location-button1 {
    color: white;
    background-color: #F00;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.location-btn {
    /* text-align: center; */
    /* margin: auto; */
    display: inline-flex;
    /* display: grid; */
    margin-left: 578px;
    margin-right: 577px;
}

.location-container {
    margin-top: 120px;
    padding-top: 100px;
}

/* coming soon section style */
.coming-soon {
    max-width: 1320px;
    margin: auto;
    margin-bottom: 120px;
}

.offer-txt {
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line: height 0px; */
    margin-bottom: 0px;
}

.coming-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 0px;
}

.Descrip {
    max-width: 393px;
    height: 128px;
}

.coming-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

/* #circle_image{
    width: 364px;
    height: 364px;
    
} */
.circle-image {
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 50%;
    display: flex;
    padding-block: 40px;
    padding-inline: 40px;
}

.txt2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.description2024 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.description-div {
    max-width: 276px;
    height: 96px;
    margin-top: 0px;
    margin-bottom: 43px;
}

.coming-soon-container {
    display: flex;
    /* display: inline-flex; */
    justify-content: space-between;
    margin-top: 120px;
}

.coming-soon-txt {
    margin-top: 112px;
}

.txt-container-2024 {
    margin-top: 108px;
}

/* Holidays sale sectiion style */
.holiday{
    max-width: 1320px;
    margin: auto;
}
.function {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.sale50 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 0px;
}

.holidays1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-disc-div {
    max-width: 1068px;
    max-height: 96px;
    margin-left: 215px;
    margin-right: 215px;
}

.holiday-discription {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 28px;
    margin-bottom: 80px;
    /* 160% */
}
/* .gift-rectan2{
    display: -webkit-flex;
} */
.rectan1{
    margin-bottom: 0px;
    float: right;
}
.rectan2{
    margin-top: 0px;
}
.group75{
    position: absolute;
    top: 4000.08px;
    left: 20.77px;
    right: 1000.46px;
}
.group44{
    position: absolute;
    top: 4072.97px;
    right: 477.17px;
    left: 850.07px;
}
.holiday-div-all{
    margin-top: 120px;
}